<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lu.ddwyydemo04.dao.TestManDao">

    <select id="getTestManPanel" resultType="Samples">
        select * from samples where tester =#{tester}
    </select>

    <select id="queryCountTotal" resultType="int">
        select count(*) from total where name =#{name}
    </select>


    <insert id="createTotal">
        insert into total(testing,pending,completed,total,overdue,danger,name) values(#{testing},#{pending},#{completed},#{total},#{overdue},#{danger},#{name})
    </insert>

    <update id="updateTotal" parameterType="String">
        UPDATE total t
        SET
        t.testing = (SELECT COUNT(*) FROM samples s WHERE s.sample_schedule = '0' AND s.tester = #{name}),
        t.pending = (SELECT COUNT(*) FROM samples s WHERE s.sample_schedule = '1' AND s.tester = #{name}),
        t.completed = (SELECT COUNT(*) FROM samples s WHERE s.sample_schedule = '2' AND s.tester = #{name}),
        t.overdue = (SELECT COUNT(*) FROM samples s WHERE s.tester = #{name} AND (
        (s.finish_time IS NULL AND NOW() > s.planfinish_time) OR
        (s.finish_time IS NOT NULL AND s.planfinish_time &lt; s.finish_time))),
        t.danger = (SELECT COUNT(*) FROM samples s WHERE s.danger IS NOT NULL AND s.danger != '' AND s.tester = #{name})
        WHERE t.name = #{name}
    </update>


    <select id="searchSamples" resultType="Samples">
        SELECT * FROM samples
        WHERE
            tester =#{tester}
          AND (
                sample_model LIKE CONCAT('%', #{keyword}, '%')
                OR sample_coding LIKE CONCAT('%', #{keyword}, '%')
                OR sample_name LIKE CONCAT('%', #{keyword}, '%')
                OR full_model LIKE CONCAT('%', #{keyword}, '%')
                OR supplier LIKE CONCAT('%', #{keyword}, '%')
                OR questStats LIKE CONCAT('%',#{keyword},'%')
            );
    </select>

    <select id="searchSamplesByAsc" resultType="Samples">
        SELECT * FROM samples
        WHERE
            tester =#{tester}
          AND (
                    sample_model LIKE CONCAT('%', #{keyword}, '%')
                OR sample_coding LIKE CONCAT('%', #{keyword}, '%')
                OR sample_name LIKE CONCAT('%', #{keyword}, '%')
                OR full_model LIKE CONCAT('%', #{keyword}, '%')
                OR supplier LIKE CONCAT('%', #{keyword}, '%')
                OR questStats LIKE CONCAT('%',#{keyword},'%')
            )
        ORDER BY create_time ASC
    </select>

    <select id="searchSamplesByDesc" resultType="Samples">
        SELECT * FROM samples
        WHERE
            tester =#{tester}
          AND (
                    sample_model LIKE CONCAT('%', #{keyword}, '%')
                OR sample_coding LIKE CONCAT('%', #{keyword}, '%')
                OR sample_name LIKE CONCAT('%', #{keyword}, '%')
                OR full_model LIKE CONCAT('%', #{keyword}, '%')
                OR supplier LIKE CONCAT('%', #{keyword}, '%')
                OR questStats LIKE CONCAT('%',#{keyword},'%')
            )
        ORDER BY create_time DESC
    </select>

    <update id="updateSample" parameterType="Samples">
        UPDATE samples
        SET
            sample_name = #{sample_name},
            planfinish_time = #{planfinish_time},
            chip_control = #{chip_control},
            version_software = #{version_software},
            version_hardware = #{version_hardware},
            supplier = #{supplier},
            test_Overseas = #{test_Overseas},
            sample_DQE = #{sample_DQE},
            sample_Developer = #{sample_Developer},
            tester = #{tester},
            filepath = #{filepath},
            sample_leader = #{sample_leader},
            priority = #{priority},
            sample_remark = #{sample_remark}
        WHERE
            sample_model = #{sample_model} and
            sample_coding = #{sample_coding} and
            sample_category = #{sample_category} and
            version = #{version} and
            big_species = #{big_species} and
            small_species = #{small_species} and
            high_frequency = #{high_frequency} and
            questStats = #{questStats}
    </update>

    <update id="updateSampleTeamWork" parameterType="Samples">
        UPDATE samples
        SET
            sample_name = #{sample_name},
            planfinish_time = #{planfinish_time},
            chip_control = #{chip_control},
            version_software = #{version_software},
            version_hardware = #{version_hardware},
            supplier = #{supplier},
            test_Overseas = #{test_Overseas},
            sample_DQE = #{sample_DQE},
            sample_Developer = #{sample_Developer},
            tester = #{tester},
            filepath = #{filepath},
            tester_teamwork = CONCAT(tester_teamwork, ', ', #{tester}),
            sample_leader = #{sample_leader},
            priority = #{priority},
            sample_remark = #{sample_remark}
        WHERE
            sample_model = #{sample_model} and
            sample_coding = #{sample_coding} and
            sample_category = #{sample_category} and
            version = #{version} and
            big_species = #{big_species} and
            small_species = #{small_species} and
            high_frequency = #{high_frequency} and
            questStats = #{questStats}
    </update>

    <update id="finishTest" >
        UPDATE samples
        SET
            sample_schedule =#{sample_schedule}
        WHERE
            sample_model = #{sample_model} and
            sample_coding = #{sample_coding} and
            sample_category = #{sample_category} and
            version = #{version} and
            sample_frequency = #{sample_frequency} and
            big_species = #{big_species} and
            small_species = #{small_species} and
            high_frequency = #{high_frequency} and
            questStats = #{questStats}
    </update>

    <update id="finishTestWithoutTime" >
        UPDATE samples
        SET
            sample_schedule =#{sample_schedule},
            finish_time =#{finish_time}
        WHERE
            sample_model = #{sample_model} and
            sample_coding = #{sample_coding} and
            sample_category = #{sample_category} and
            version = #{version} and
            sample_frequency = #{sample_frequency} and
            big_species = #{big_species} and
            small_species = #{small_species} and
            high_frequency = #{high_frequency} and
            questStats = #{questStats}
    </update>



<!--    <select id="queryFinishtime" resultType="String">-->
<!--        SELECT finish_time FROM samples-->
<!--        WHERE-->
<!--            sample_model = #{sample_model} and-->
<!--            sample_coding = #{sample_coding} and-->
<!--            sample_category = #{sample_category} and-->
<!--            version = #{version} and-->
<!--            big_species = #{big_species} and-->
<!--            small_species = #{small_species} and-->
<!--            high_frequency = #{high_frequency}-->
<!--    </select>-->


    <select id="querySample_name" resultType="String">
        SELECT sample_name FROM samples
        WHERE
            sample_model = #{sample_model} and
            sample_coding = #{sample_coding} and
            sample_category = #{sample_category} and
            version = #{version} and
            big_species = #{big_species} and
            small_species = #{small_species} and
            high_frequency = #{high_frequency} and
            questStats = #{questStats}
    </select>

    <select id="queryFilepath" resultType="String">
        SELECT filepath FROM samples
        WHERE
            sample_model = #{sample_model} and
            sample_coding = #{sample_coding} and
            sample_category = #{sample_category} and
            version = #{version} and
            big_species = #{big_species} and
            small_species = #{small_species} and
            high_frequency = #{high_frequency} and
            sample_frequency =#{sample_frequency} and
            questStats = #{questStats}
    </select>

    <select id="queryTester_teamwork" resultType="String">
        SELECT tester_teamwork FROM samples
        WHERE
            sample_model = #{sample_model} and
            sample_coding = #{sample_coding} and
            sample_category = #{sample_category} and
            version = #{version} and
            big_species = #{big_species} and
            small_species = #{small_species} and
            high_frequency = #{high_frequency} and
            questStats = #{questStats}
    </select>


    <select id="queryTester" resultType="String">
        SELECT tester FROM samples
        WHERE
            sample_model = #{sample_model} and
            sample_coding = #{sample_coding} and
            sample_category = #{sample_category} and
            version = #{version} and
            big_species = #{big_species} and
            small_species = #{small_species} and
            high_frequency = #{high_frequency} and
            questStats = #{questStats}
    </select>

    <delete id="deleteFilepath" parameterType="String">
        DELETE FROM samples WHERE filepath = #{filepath}
    </delete>

</mapper>