.download-btn {
    position: fixed;
    top: 20px; /* 设置按钮离顶部的距离 */
    right: 20px; /* 设置按钮离右边的距离 */
    background-color: #4CAF50; /* 按钮背景色 */
    color: #0010fd; /* 按钮文字颜色 */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999; /* 确保按钮显示在最上层 */
}

.download-btn:hover {
    background-color: #45a049; /* 鼠标悬停时按钮的背景色 */
}





table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px; /* 圆角 */
    overflow: hidden; /* 使圆角生效 */
    box-shadow: 0 0 0 10px #fff; /* 模拟圆角效果 */
}

th {
    border: 5px solid #ddd; /* 加粗边框 */
    padding: 8px;
    text-align: left;
}

td {
    border: 5px solid #ddd; /* 加粗边框 */
    padding: 8px;
    text-align: left;
    word-wrap: break-word; /* 强制长单词或 URL 换行 */
    word-break: break-all; /* 强制任意位置换行 */
    max-width: 200px; /* 设置最大宽度 */
    overflow-wrap: break-word; /* 允许超出范围的文本换行 */
}


th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}


/* 超时列表模态框 */
.overdueModal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 60px;
}

.red-text {
    color: red; /* 红色字体 */
}

.green-text {
    color: green; /* 强制应用绿色 */
}


/* 按钮样式 */
/* 按钮容器的垂直排列 */
#buttonContainer {
    display: flex;
    flex-direction: column; /* 垂直排列 */
    align-items: flex-start; /* 按钮左对齐 */
    gap: 10px; /* 控制按钮间距 */
}

#configButton, #configButton2 {
    background-color: #4CAF50; /* 绿色背景 */
    color: white; /* 白色字体 */
    padding: 10px 20px; /* 内边距 */
    border: none; /* 去掉边框 */
    border-radius: 5px; /* 圆角 */
    cursor: pointer; /* 鼠标指针 */
    font-size: 16px; /* 字体大小 */
    margin: 5px; /* 按钮之间的间距 */
}

#configButton:hover, #configButton2:hover {
    background-color: #45a049; /* 悬停时更深的绿色 */
}

#viewOverdueButton{
    background-color: #ff0000; /* 绿色背景 */
    color: white; /* 白色字体 */
    padding: 10px 20px; /* 内边距 */
    border: none; /* 去掉边框 */
    border-radius: 5px; /* 圆角 */
    cursor: pointer; /* 鼠标指针 */
    font-size: 16px; /* 字体大小 */
    margin: 5px; /* 按钮之间的间距 */
}

#viewOverdueButton:hover{
    background-color: #ff0000; /* 悬停时更深的绿色 */
}

#viewRecentNotificationsButton{
    background-color: #45a049; /* 绿色背景 */
    color: white; /* 白色字体 */
    padding: 10px 20px; /* 内边距 */
    border: none; /* 去掉边框 */
    border-radius: 5px; /* 圆角 */
    cursor: pointer; /* 鼠标指针 */
    font-size: 16px; /* 字体大小 */
    margin: 5px; /* 按钮之间的间距 */
}

#viewRecentNotificationsButton:hover{
    background-color: #45a049; /* 悬停时更深的绿色 */
}


/* 模态框样式 */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #4CAF50; /* 绿色边框 */
    border-radius: 10px; /* 圆角 */
    width: 80%;
    max-height: 50%; /* 最大高度为视口的50% */
    overflow-y: auto; /* 当内容超出最大高度时显示滚动条 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #4CAF50; /* 悬停时变为绿色 */
    text-decoration: none;
    cursor: pointer;
}
h2 {
    color: #4CAF50; /* 标题颜色 */
}
h3 {
    color: #c71414; /* 标题颜色 */
    font-size: 25px;
}
.input-group {
    display: flex; /* 使用 flexbox 布局 */
    align-items: center; /* 垂直居中 */
    margin-top: 10px; /* 上边距 */
}
label {
    color: #333; /* 标签颜色 */
    margin-right: 10px; /* 标签右边距 */
}
input[type="number"] {
    padding: 10px; /* 内边距 */
    border: 1px solid #4CAF50; /* 绿色边框 */
    border-radius: 5px; /* 圆角 */
    width: 100px; /* 输入框宽度 */
    margin-bottom: 10px; /* 下边距 */
}
#saveButton,#saveOverdueReasons {
    background-color: #4CAF50; /* 绿色背景 */
    color: white; /* 白色字体 */
    padding: 10px 15px; /* 内边距 */
    border: none; /* 去掉边框 */
    border-radius: 5px; /* 圆角 */
    cursor: pointer; /* 鼠标指针 */
}
#saveButton,#saveOverdueReasons:hover {
    background-color: #45a049; /* 悬停时更深的绿色 */
}


/*主容器 */
/* 主容器 */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    gap: 20px;
    margin-top: -20px;
}

/* 大模块样式 */
.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8c8c8c;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    height: 200px;
    width: 80%;
    max-width: 600px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.bar-chart {
    display: flex;
    align-items: flex-end;
    width: 200px;
    height: 100px;
    /*background-color: #2ba245;*/
    background-color: #8c8c8c;
    margin: 0 auto;
}

.bar {
    width: 100px;
    margin: 0 5px;
    /*background-color: #00BFFF;*/
    background-color: #000000;

    text-align: center;
    color: #fff;
    font-size: 15px;
}

.bar1 { height: 75%; }
.bar2 { height: 50%; }
.bar3 { height: 90%; }

.dashboard:hover {
    transform: scale(1.05);
    /*background-color: #228b3f;*/
    background-color: #8c8c8c;
}

/* 横向排列的容器 */
.grid-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 800px;
    gap: 10px;
}

/* 默认灰色的单个模块样式 */
.module {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a9a9a9; /* 默认灰色背景 */
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    height: 150px;
    width: 25%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* 鼠标悬停时变灰色放大 */
.module:hover {
    transform: scale(1.05);
    background-color: #8c8c8c; /* 灰色的悬停颜色 */
}

/* 问题点模块高亮，保持原样 */
.module.highlighted {
    background-color: #2ba245; /* 保持绿色 */
}

.module.highlighted:hover {
    background-color: #228b3f; /* 高亮悬停颜色 */
}




.divider {
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 100%; /* 让横线水平占满容器宽度 */
    height: 1px; /* 设置横线的高度 */
    background-color: #2ba245; /* 横线颜色 */
}

/* 设置按钮样式 */
.btn-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px; /* 按钮容器的内边距，可根据需要调整 */
    box-sizing: border-box; /* 让 padding 不影响元素的宽度 */
    z-index: 1000; /* 确保按钮在其他内容之上 */

}

.btn {
    width: 60px;
    height: 60px;
    background-color: #2ba245; /* 将背景色改为绿色 */
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}




/* 父容器样式 */
.title-container {
    text-align: center;
}

/* 标题样式 */
.title {
    font-weight: bold;
    color: #2ba245;
    padding-top: 20px;
    font-size: 25px; /* 添加字体大小属性 */
}






.divider {
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 100%; /* 让横线水平占满容器宽度 */
    height: 1px; /* 设置横线的高度 */
    background-color: #2ba245; /* 横线颜色 */
}


/* 设置按钮样式 */
.btn-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px; /* 按钮容器的内边距，可根据需要调整 */
    box-sizing: border-box; /* 让 padding 不影响元素的宽度 */
    z-index: 1000; /* 确保按钮在其他内容之上 */



}

.btn {
    width: 60px;
    height: 60px;
    background-color: #2ba245; /* 将背景色改为绿色 */
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}



/* 针对苹果设备的样式 */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .table-container table,
    .table-container table th,
    .table-container table td {
        border: 1px solid #2ba245; /* 确保边框明显 */
    }

    .product-table.danger {
        border: 2px solid red;

    }

    .btn {
        width: 60px;
        height: 60px;
        background-color: #2ba245; /* 将背景色改为绿色 */
        color: #fff;
        border: none;
        border-radius: 50%;
        font-size: 24px;
        cursor: pointer;
        justify-content: flex-start; /* 将内容对齐到左侧 */
        padding-left: 19.5px; /* 此处是更改苹果手机里下方三个按钮里的图标位置,调整内边距,但是还有点偏好奇怪 */
    }



}



/*   设置DQEIndex主页的那些模块全为绿色 */
/*主容器 */
/*.main-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: calc(100vh - 120px); !* 减去顶部和底部的高度 *!*/
/*    gap: 20px; !* 调整模块之间的间距 *!*/
/*    margin-top: -20px; !* 使模块整体向上移动 *!*/
/*}*/

/*!* 大模块样式 *!*/
/*.dashboard {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: #2ba245;*/
/*    color: #fff;*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*    border-radius: 10px; !* 圆角 *!*/
/*    cursor: pointer;*/
/*    height: 200px;*/
/*    width: 80%; !* 调整容器宽度 *!*/
/*    max-width: 600px; !* 限制最大宽度 *!*/
/*    transition: transform 0.3s ease, background-color 0.3s ease;*/
/*}*/

/*.bar-chart {*/
/*    display: flex;*/
/*    align-items: flex-end;*/
/*    width: 200px;*/
/*    height: 100px;*/
/*    background-color: #2ba245;*/
/*    margin: 0 auto;*/
/*}*/

/*.bar {*/
/*    width: 100px;*/
/*    margin: 0 5px;*/
/*    background-color: #00BFFF;*/
/*    text-align: center;*/
/*    color: #fff;*/
/*    font-size: 15px;*/
/*}*/

/*.bar1 { height: 75%; }*/
/*.bar2 { height: 50%; }*/
/*.bar3 { height: 90%; }*/

/*.dashboard:hover {*/
/*    transform: scale(1.05); !* 鼠标悬停时放大 *!*/
/*    background-color: #228b3f;*/
/*}*/

/*!* 横向排列的容器 *!*/
/*.grid-container {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    width: 80%; !* 调整容器宽度 *!*/
/*    max-width: 800px; !* 限制最大宽度 *!*/
/*    gap: 10px;   //修改模块直接的间隔*/
/*}*/

/*!* 单个模块样式 *!*/
/*.module {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: #2ba245;*/
/*    color: #fff;*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*    border-radius: 10px; !* 圆角 *!*/
/*    cursor: pointer;*/
/*    height: 150px;*/
/*    width: 25%;*/
/*    transition: transform 0.3s ease, background-color 0.3s ease;*/
/*}*/

/*.module:hover {*/
/*    transform: scale(1.05); !* 鼠标悬停时放大 *!*/
/*    background-color: #228b3f;*/
/*}*/