.BackBtn {
    position: absolute; /* 绝对定位 */
    top: 0px; /* 距离顶部10px */
    left: 150px; /* 距离左侧10px */
    padding: 8px 16px;
    text-align: center;
    white-space: nowrap;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #FFDAB9;
    color: #000000;
    font-size: 16px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 60px; /* 减少宽度 */
        padding: 10px; /* 缩小内边距 */
    }

    .content {
        margin-left: 80px; /* 根据 sidebar 新宽度调整 */
    }

    .BackBtn {
        left: auto; /* 清除左侧定位 */
        right: 10px; /* 设置右侧固定间距 */
        top: 10px; /* 保持顶部间距 */
    }


}




/* 20250112 排期看板*/
.add-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 5px;
}

.add-btn:hover {
    background-color: #45a049;
}


.BackBtn {
    position: absolute; /* 使用绝对定位 */
    top: 10px; /* 距离顶部 10px */
    left: 10px; /* 距离左侧 10px */
    padding: 8px 16px;
    text-align: center;
    white-space: nowrap;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #FFDAB9;
    color: #000000;
    font-size: 16px;
}


.header-container {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: center; /* 让标题居中 */
    align-items: center; /* 垂直居中 */
}

.title {
    font-weight: bold;
    color: #2ba245;
    font-size: 25px;
    text-align: center; /* 文字在自身容器内居中 */
}

#calendar {
    width: 100%;
    border-collapse: collapse;
}

#calendar th, #calendar td {
    border: 1px solid #ccc;
    text-align: center;
    height: 50px;
}
#projects-container {
    margin-top: 20px;
}

.project {
    width: 100px;
    height: 30px;
    background-color: #007bff;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
    cursor: grab;
}

.dropzone {
    background-color: #f9f9f9;
    height: 50px;
    position: relative;
}

.dropzone .project {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;
}
