<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>研发质量管理系统主页</title>
    <!-- 引入字体图标库 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- 引入外部CSS文件 -->
    <link rel="stylesheet" href="/css/DQEIndexStyle.css">

    <script src="https://g.alicdn.com/dingding/dingtalk-jsapi/3.0.25/dingtalk.open.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



</head>
<body>


    <div class="title-container">
        <div class="title" id="indexTitle">主页</div>
    </div>

    <button id="downloadGuidelineBtn" class="download-btn">操作指导书下载</button>


    <div id="buttonContainer"></div>

    <!-- 管理配置模态框 -->
    <div id="configModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="modalTitle">配置选项</h2>
            <div class="input-group">
                <label for="warningDays" id="warningLabel">警示天数：</label>
                <input type="number" id="warningDays" value="2" min="0">
            </div>
            <button id="saveButton">保存</button>
        </div>
    </div>

    <!--新增三个切换角色职位的按钮便于调试-->
    <!--新增三个切换角色职位的按钮-->
    <div id="buttonsDiv">
        <button id="dqeBtn">DQE</button>
        <button id="rdBtn">rd</button>
        <button id="projectBtn">项目</button>
        <button id="managerBtn">经理级别以上</button>
    </div>

    <button id="viewOverdueButton">查看超时项目</button>

    <!-- 超时项目模态框 -->
    <div id="overdueModal" class="modal">
        <div class="modal-content">
            <span class="close overdue-close">&times;</span>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h3>超时项目列表</h3>
                <button id="saveOverdueReasons" style="margin-left: auto;">提交超时原因</button>
            </div>

            <table id="overdueTable">
                <thead>
                <tr>
                    <th>列表ID</th>
                    <th>样品ID</th>
                    <th>超时节点</th>
                    <th>当前进度</th>
                    <th>创建时间</th>
                    <th>警告时间</th>
                    <th>第一次超时通知主管时间</th>
                    <th>第二次超时通知经理时间</th>
                    <th>大小编码</th>
                    <th>大类</th>
                    <th>小类</th>
                    <th>类别</th>
                    <th>版本</th>
                    <th>任务属性</th>
                    <th>节点负责人</th>
                    <th>超期原因<br>(点上方按钮保存)</th>
                </tr>
                </thead>
                <tbody id="overdueProjectList"></tbody>
            </table>

        </div>
    </div>

    <!-- 查看近期通知项目按钮 -->
    <button id="viewRecentNotificationsButton">查看近期通知项目</button>
    <!-- 近期通知项目模态框 -->
    <div id="recentNotificationsModal" class="modal">
        <div class="modal-content">
            <span class="close recent-notifications-close">&times;</span>
            <h2>近期通知项目列表</h2>
            <table id="recentNotificationsTable">
                <thead>
                <tr>
                    <th>列表ID</th>
                    <th>样品ID</th>
                    <th>通知节点</th>
                    <th>当前进度</th>
                    <th>创建时间</th>
                    <th>超时预警时间</th>
                    <th>大小编码</th>
                    <th>大类</th>
                    <th>小类</th>
                    <th>类别</th>
                    <th>版本</th>
                    <th>任务属性</th>
                    <th>节点负责人</th>
                </tr>
                </thead>
                <tbody id="recentNotificationsProjectList"></tbody>
            </table>
        </div>
    </div>


    <div class="main-container">
        <div class="dashboard" onclick="location.href='/dataBoard'">
            <div>
                <div class="bar-chart">
                    <div class="bar bar1">75%</div>
                    <div class="bar bar2">50%</div>
                    <div class="bar bar3">90%</div>
                </div>
                <p>数据看板（待开发）</p>
            </div>
        </div>

        <div class="grid-container">
            <div class="module highlighted" onclick="redirectToPage()">问题点<br>模块</div>
            <div class="module highlighted" onclick="location.href='/labModule'">实验室<br>模块</div>
            <div class="module" onclick="location.href='/projectSchedule'">项目<br>排期</div>
            <div class="module" onclick="location.href='/otherMoudle'">其他<br>模块</div>
        </div>
    </div>


    <!-- 下方固定按钮 -->
    <div class="btn-container">
        <hr class="divider"> <!-- 按钮上方的横线 -->
        <!-- 主页按钮 -->
        <button class="btn" id="homeBtn"><i class="fas fa-home"></i></button>
        <!-- 搜索资源库按钮 -->
        <button class="btn" id="cloudBtn"><i class="fas fa-cloud"></i></button>
        <!-- 个人界面按钮 -->
        <button class="btn" id="profileBtn"><i class="fas fa-user"></i></button>
    </div>

    <!-- 模态框结构 -->
    <div id="guidelineModal" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);
    background-color: white; padding: 20px; border: 1px solid #ccc; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); z-index: 1000;">
        <p style="margin: 0 0 20px;">注意：手机端下载此指导书需要先在钉钉创建一个钉盘的文件夹，不然您最后无法选择确认并发送，PC端则不用。此按钮原理是先把文件下载到钉盘再转发给你实现在线编辑查看的功能，此为钉钉官方应用的bug。</p>
        <button id="closeModal" style="background-color: #007bff; color: white; border: none; padding: 10px 20px; cursor: pointer; border-radius: 4px;">关闭</button>
    </div>
    <div id="modalOverlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999;"></div>

    <!-- 下载按钮 -->
<!--    <button id="downloadGuidelineBtn">下载操作指导书</button>-->



    <!-- 确认模态框的 HTML 结构 -->
    <div id="confirm-overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 1000;">
        <div id="confirm-modal" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 300px; background: white; padding: 20px; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.3); text-align: center;">
            <div id="confirm-message" style="margin-bottom: 20px;">确认信息</div>
            <button id="confirm-yes" style="padding: 10px 20px; background-color: #28a745; color: white; border: none; border-radius: 4px; cursor: pointer; margin-right: 10px;">确认</button>
            <button id="confirm-no" style="padding: 10px 20px; background-color: #dc3545; color: white; border: none; border-radius: 4px; cursor: pointer;">取消</button>
        </div>
    </div>


    <!-- 模态框的 HTML 结构 -->
    <div id="alert-overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 1005;">
        <div id="alert-modal" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 300px; background: white; padding: 20px; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.3); text-align: center;">
            <div id="alert-message" style="margin-bottom: 20px;">提示信息</div>
            <button id="alert-confirm" style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 4px; cursor: pointer;">确认</button>
        </div>
    </div>

    <script>
        // 覆盖原生 alert 方法
        window.alert = function(message) {
            // 获取模态框元素
            const overlay = document.getElementById('alert-overlay');
            const modal = document.getElementById('alert-modal');
            const messageElem = document.getElementById('alert-message');
            const confirmButton = document.getElementById('alert-confirm');

            // 设置消息文本
            messageElem.textContent = message;

            // 显示模态框
            overlay.style.display = 'block';
            modal.style.display = 'block';

            // 点击确认按钮时关闭模态框
            confirmButton.onclick = () => {
                overlay.style.display = 'none';
                modal.style.display = 'none';
                // 调用原本的alert回调
            };
        };


    // 覆盖原生 confirm 方法
    window.confirm = function(message) {
        return new Promise(function(resolve, reject) {
            const overlay = document.getElementById('confirm-overlay');
            const modal = document.getElementById('confirm-modal');
            const messageElem = document.getElementById('confirm-message');
            const yesButton = document.getElementById('confirm-yes');
            const noButton = document.getElementById('confirm-no');

            // 设置消息文本
            messageElem.textContent = message;

            // 显示模态框
            overlay.style.display = 'block';
            modal.style.display = 'block';

            // 点击“确认”按钮时，关闭模态框并返回 true
            yesButton.onclick = () => {
                overlay.style.display = 'none';
                modal.style.display = 'none';
                resolve(true); // 返回 true 表示用户点击了确认
            };

            // 点击“取消”按钮时，关闭模态框并返回 false
            noButton.onclick = () => {
                overlay.style.display = 'none';
                modal.style.display = 'none';
                reject(false); // 返回 false 表示用户点击了取消
            };
        });
    };



    // 将数据保存到 localStorage
    let username = localStorage.getItem('username');
    let job = localStorage.getItem('job');

    // 更新用户名和职位的函数
    const buttonsDiv = document.getElementById('buttonsDiv');

    const corp_id = localStorage.getItem('corp_id');
    readyConfig();


    function readyConfig(){
        // 调用后端接口获取配置信息
        $.ajax({
            url: '/getJsapiConfig',
            type: 'GET',
            data: { url: encodeURIComponent(location.href.split('#')[0]) },
            success: function(config) {
                // 使用获取的配置信息初始化钉钉JSAPI
                dd.config({
                    agentId: config.agentId,
                    corpId: config.corpId,
                    timeStamp: config.timeStamp,
                    nonceStr: config.nonceStr,
                    signature: config.signature,
                    jsApiList: config.jsApiList // 必填，需要使用的jsapi列表
                });

            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }

        document.getElementById('downloadGuidelineBtn').addEventListener('click', function() {
            // 显示模态框
            document.getElementById('guidelineModal').style.display = 'block';
            document.getElementById('modalOverlay').style.display = 'block';
        });

        // 关闭模态框
        document.getElementById('closeModal').addEventListener('click', function() {
            document.getElementById('guidelineModal').style.display = 'none';
            document.getElementById('modalOverlay').style.display = 'none';
            // 开始下载指导书
            downloadGuideline();
        });

        // 点击遮罩层也关闭模态框
        document.getElementById('modalOverlay').addEventListener('click', function() {
            document.getElementById('guidelineModal').style.display = 'none';
            document.getElementById('modalOverlay').style.display = 'none';
        });



    //下载操作指导书的按钮方法
    // document.getElementById('downloadGuidelineBtn').addEventListener('click', function() {
    //     alert("注意：手机端下载此指导书需要先在钉钉创建一个钉盘的文件夹，不然您最后无法选择确认并发送，PC端则不用，此按钮原理是先把文件下载到钉盘再转发给你实现在线编辑查看的功能，此为钉钉官方应用的bug。")
    //     downloadGuideline();
    // });

    function downloadGuideline() {
        // 固定文件路径
        // const filePath = "C:\\ddwyy-lj\\templatesDirectory\\研发质量管理系统操作指导V2.0.docx";
        const filePath = "Z:\\ddwyy-lj\\templatesDirectory\\研发质量管理系统操作指导V2.0.docx";
        const fileName = "研发质量管理系统操作指导V2.0.docx"; // 固定文件名

        // if (!confirm('文件较大，转发可能需要较长时间。是否继续？')) {
        //     return; // 用户选择不上传
        // }

        // 选择联系人
        dd.biz.contact.choose({
            multiple: false,
            users: [],
            corpId: corp_id,
            max: 1,
            onSuccess: function(data) {
                const selectedUserId = data[0].emplId; // 获取单个用户ID

                // 选择钉盘目录
                dd.chooseDingTalkDir({
                    corpId: corp_id, // 企业ID
                    onSuccess: function(res) {
                        const selectedDirId = res.data[0].dirId; // 获取选中的目录ID
                        const selectedSpaceId = res.data[0].spaceId; // 获取选中的空间ID

                        // 获取应用免登授权码
                        dd.runtime.permission.requestAuthCode({
                            corpId: corp_id,
                            onSuccess: function(result) {
                                const authCode = result.code; // 获取到授权码
                                // 发起后端请求上传文件和发送文件
                                $.ajax({
                                    url: '/testManIndex/uploadFileToDingtalk',
                                    type: 'POST',
                                    data: {
                                        filepath: filePath, // 使用固定的文件路径
                                        dirId: selectedDirId,
                                        spaceId: selectedSpaceId,
                                        authCode: authCode,
                                        receiverId: selectedUserId,
                                        username : username
                                    },
                                    success: function(response) {
                                        alert('文件上传并发送成功');
                                        // hideLoading(); // 隐藏加载提示框
                                    },
                                    error: function(xhr, status, error) {
                                        alert('文件上传发送失败: ' + error);
                                        // hideLoading(); // 隐藏加载提示框
                                    }
                                });
                            },
                            onFail: function(err) {
                                alert('获取授权码失败：' + JSON.stringify(err));
                                // hideLoading(); // 隐藏加载提示框
                            }
                        });
                    },
                    fail: function(err) {
                        alert('选择目录失败：' + JSON.stringify(err));
                        // hideLoading(); // 隐藏加载提示框
                    },
                    onCancel: function() {
                        alert('选择目录取消');
                        // hideLoading(); // 隐藏加载提示框
                    }
                });
            },
            onFail: function(err) {
                alert("选择联系人出错" + err);
                // hideLoading(); // 隐藏加载提示框
            }
        });
    }



    // 更新用户名和职位的函数
    function updateUserInfo(newJob) {
        job = newJob;
        localStorage.setItem('job', job);  // 更新 localStorage 中的职位信息
        alert("当前职位: " + job);
    }

    // 如果用户名是 "卢健"，显示切换职位按钮
    if (username === '卢健') {
        buttonsDiv.style.display = 'block';  // 显示按钮
    } else {
        buttonsDiv.style.display = 'none';  // 隐藏按钮
    }

    // 为按钮添加点击事件，切换职位并更新 localStorage
    document.getElementById('dqeBtn').addEventListener('click', function() {
        updateUserInfo('DQE');
    });
    document.getElementById('rdBtn').addEventListener('click', function() {
        updateUserInfo('rd');
    });
    document.getElementById('projectBtn').addEventListener('click', function() {
        updateUserInfo('projectLeader');
    });
    document.getElementById('managerBtn').addEventListener('click', function() {
        updateUserInfo('manager');
    });

    function redirectToPage() {
        if (job === 'projectLeader') {
            location.href = '/ProjectLeaderMoudle?dd_orientation=landscape';
        } else {
            location.href = '/problemMoudle?dd_orientation=landscape';
        }
    }

    const indexTitle = document.getElementById('indexTitle');
    if (job === "DQE") {
        indexTitle.textContent = "DQE主页";
    } else if (job === "rd") {
        indexTitle.textContent = "研发主页";
    }else if (job === "projectLeader") {
        indexTitle.textContent = "项目主页";
    }else{
        indexTitle.textContent = "管理员角色的主页";
    }

    // 下方三个按钮跳转页面
    const homeBtn = document.getElementById('homeBtn');
    const cloudBtn = document.getElementById('cloudBtn');
    const profileBtn = document.getElementById('profileBtn');

    // 添加点击事件监听器
    $(homeBtn).click(function() {
        // 跳转到主页
        window.location.href = '/DQEIndex';
    });

    // $(cloudBtn).click(function() {
    //     let userRole = 'DQE'; // 示例角色，可以动态获取
    //     // 跳转到搜索资源库页面
    //     window.location.href = `/durationTable?dd_orientation=landscape&role=${userRole}`;
    // });

    $(profileBtn).click(function() {
        // 跳转到个人界面页面
        window.location.href = '/DQEprofile';
    });


    const buttonContainer = document.getElementById("buttonContainer");
    const configModal = document.getElementById("configModal");
    const configTitle = document.getElementById("modalTitle");
    const warningLabel = document.getElementById("warningLabel");
    const warningDaysInput = document.getElementById("warningDays"); // 定义 warningDaysInput


    if (username ==="张华" || username === "卢健" || username === "黄家灿" || username ==="荣成彧") {
        buttonContainer.innerHTML = `
            <button id="configButton" data-type="DQE">DQE管理配置</button>`;

    } else if (job === "rd" && username === "钟海龙") {
    // } else if (job === "rd" && (username === "钟海龙" || username === "张波")) {
        buttonContainer.innerHTML = `
            <button id="configButton" data-type="研发">研发管理配置</button>`;

    }

    const btn = document.getElementById("configButton");
    if (btn) {
        btn.onclick = async function () {
            const configType = this.getAttribute("data-type");
            configTitle.textContent = `${configType}配置选项`;
            warningLabel.textContent = `${configType}警示天数：`;

            // 从后端获取 `warningDays` 数据
            try {
                const response = await fetch(`/DQEIndex/getWarningDays?configType=${encodeURIComponent(configType)}`);
                if (response.ok) {
                    const warningDays = await response.json();
                    // 将获取的 `warningDays` 值赋给输入框
                    warningDaysInput.value = warningDays;
                } else {
                    console.error("Failed to fetch warning days");
                }
            } catch (error) {
                console.error("Error fetching warning days:", error);
            }
            configModal.style.display = "block";
        };
    }

    const span = document.getElementsByClassName("close")[0];

    span.onclick = function() {
        configModal.style.display = "none";
    }

    document.getElementById("saveButton").onclick = function() {
        const warningDays = document.getElementById("warningDays").value;
        if (warningDays < 0) {
            alert("请输入一个非负整数！");
        } else {
            // 假设有一个变量 role 用于存储角色信息
            const role = job; // 这里假设 job 变量存储当前角色，例如 "DQE" 或 "RD"

            // 准备要发送的数据
            const data = {
                warningDays: warningDays,
                role: role
            };

            // 发送请求到后端
            fetch('/DQEIndex/saveWarningDays', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (response.ok) {
                        alert("警示天数已保存为：" + warningDays);
                        configModal.style.display = "none";
                    } else {
                        alert("保存失败，请稍后再试！");
                    }
                })
                .catch(error => {
                    console.error("发生错误:", error);
                    alert("保存过程中发生错误！");
                });
        }
    }

    // 超时项目模态框
    const overdueModal = document.getElementById("overdueModal");
    const overdueButton = document.getElementById("viewOverdueButton");
    const overdueClose = document.getElementsByClassName("overdue-close")[0];
    const overdueProjectList = document.getElementById("overdueProjectList");

    // 判断用户的职位，如果是 projectLeader，则隐藏按钮
    if (job === 'projectLeader') {
        overdueButton.style.display = 'none';  // 隐藏按钮
    } else {
        overdueButton.style.display = 'block';  // 显示按钮
    }

    // 定义超时节点的值转换为描述的函数
    function getNodeDescription(nodeNumber) {
        switch (nodeNumber) {
            case "1":
                return "待DQE审核";
            case "2":
                return "待研发审核";
            case "3":
                return "待DQE判定";
            case "4":
                return "已完成";
            default:
                return ""; // 默认返回空字符串
        }
    }

        overdueButton.onclick = function () {
            fetch('/DQEIndex/getOverdueSample')
                .then(response => response.json())
                .then(data => {
                    // 清空之前的内容
                    overdueProjectList.innerHTML = '';

                    // 帮助函数：处理 null 值
                    const displayValue = (value) => value === null ? "" : value;

                    // 根据用户名判断是否需要过滤，他们只能看到第二次超期的数据
                    const isSpecialUser = username === "黄家灿" || username === "肖政文"  || username === "荣成彧" ||
                        (username === "卢健" && job === "manager");

                    // 填充数据到表格
                    data.forEach(combinedTaskNode => {
                        const personInCharge = ["1", "3"].includes(String(combinedTaskNode.taskNode.node_number))
                            ? combinedTaskNode.dqe
                            : String(combinedTaskNode.taskNode.node_number) === "2"
                                ? combinedTaskNode.rd ? combinedTaskNode.rd : ""
                                : ""; // 默认值

                        // 根据 Job 过滤数据
                        let shouldDisplay = false;
                        if (job === "DQE" || job === "manager") {
                            // 如果 Job 是 DQE，则只展示 node_number 为 "1" 或 "3" 的数据
                            shouldDisplay = ["1", "3"].includes(String(combinedTaskNode.taskNode.node_number));
                        } else if (job === "rd") {
                            // 如果 Job 是 rd，则只展示 node_number 为 "2" 的数据
                            shouldDisplay = String(combinedTaskNode.taskNode.node_number) === "2";
                        }

                        // 如果是黄家灿或肖政文，则额外过滤 notify_second_time 不为空的数据
                        if (isSpecialUser) {
                            shouldDisplay = shouldDisplay && displayValue(combinedTaskNode.taskNode.notify_second_time) !== "";
                        }

                        // 只有在满足条件时才创建行
                        if (shouldDisplay) {
                            const row = document.createElement('tr');

                            const overdueReasonContent = (personInCharge === username) ?
                                `<textarea data-id="${combinedTaskNode.taskNode.id}"
                        style="width: 100px; height: 60px;">${displayValue(combinedTaskNode.taskNode.overdueReason)}</textarea>`
                                : displayValue(combinedTaskNode.taskNode.overdueReason);

                            // 比较 node_number 和 status_value，决定颜色
                            const nodeDescription = getNodeDescription(combinedTaskNode.taskNode.node_number);
                            let statusValue = displayValue(combinedTaskNode.taskNode.status_value);

                            // 去掉 status_value 中的前缀 "测试进度："（如果有）
                            statusValue = statusValue.replace("测试进度：", "").trim();

                            // 判断颜色
                            const descriptionClass = nodeDescription === statusValue ? 'red-text' : 'green-text';

                            // 使用 combinedTaskNode.taskNode 获取 TaskNode 的字段
                            row.innerHTML = `
                        <td>${displayValue(combinedTaskNode.taskNode.id)}</td>
                        <td>
                            <a href="/problemMoudle?dd_orientation=landscape&sample_id=${encodeURIComponent(combinedTaskNode.taskNode.sample_id)}&username=${encodeURIComponent(username)}&job=${encodeURIComponent(job)}">
                                ${displayValue(combinedTaskNode.taskNode.sample_id)}
                            </a>
                        </td>
                        <td class="${descriptionClass}">${nodeDescription}</td> <!-- 根据值判断颜色 -->
                        <td>${statusValue}</td>
                        <td>${displayValue(combinedTaskNode.taskNode.create_time)}</td>
                        <td>${displayValue(combinedTaskNode.taskNode.warn_time)}</td>
                        <td>${displayValue(combinedTaskNode.taskNode.notify_once_time)}</td>
                        <td>${displayValue(combinedTaskNode.taskNode.notify_second_time)}</td>
                        <td>${displayValue(combinedTaskNode.fullModel)}</td> <!-- 这里是样本的字段 -->
                        <td>${displayValue(combinedTaskNode.bigSpecial)}</td>
                        <td>${displayValue(combinedTaskNode.smallSpecial)}</td>
                        <td>${displayValue(combinedTaskNode.sampleCategory)}</td>
                        <td>${displayValue(combinedTaskNode.version)}</td>
                        <td>${displayValue(combinedTaskNode.questStats)}</td>
                        <td>${displayValue(personInCharge)}</td> <!-- 添加负责人信息 -->
                        <td>${overdueReasonContent}</td> <!-- 添加可编辑的 overdueReason -->
                    `;
                            overdueProjectList.appendChild(row);
                        }
                    });
                    overdueModal.style.display = "block"; // 显示模态框
                })
                .catch(error => console.error("获取超时项目列表时出错:", error));
        };



    document.getElementById('saveOverdueReasons').onclick = function () {
        // 收集所有的超期原因
        const textareas = overdueProjectList.querySelectorAll('textarea');

        textareas.forEach(textarea => {
            const id = textarea.dataset.id; // 获取任务ID
            const newReason = textarea.value;

            // 发送更新请求
            fetch('/DQEIndex/updateOverdueReason', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `id=${encodeURIComponent(id)}&overdueReason=${encodeURIComponent(newReason)}`,
            })
                .then(response => {
                    if (!response.ok) {
                        alert("部分超期原因保存失败");
                    }else{
                        alert('超期原因已保存成功！');
                    }
                })
                .catch(error => console.error("保存超期原因时出错:", error));
        });


    };

    overdueClose.onclick = function() {
        overdueModal.style.display = "none";
    };


    // 期通知项目按钮
    const recentNotificationsModal = document.getElementById("recentNotificationsModal");
    const recentNotificationsButton = document.getElementById("viewRecentNotificationsButton");
    const recentNotificationsClose = document.getElementsByClassName("recent-notifications-close")[0];
    const recentNotificationsProjectList = document.getElementById("recentNotificationsProjectList");
    // 查看近期通知项目按钮点击事件
        recentNotificationsButton.onclick = function () {
            fetch(`/DQEIndex/getRecentNotifications?username=${encodeURIComponent(username)}`)
                .then(response => response.json())
                .then(data => {
                    recentNotificationsProjectList.innerHTML = '';
                    const displayValue = (value) => value === null ? "" : value;

                    data.forEach(combinedTaskNode => {
                        // 确定负责人
                        let personInCharge = "";
                        if (combinedTaskNode.taskNode.node_number === "1" || combinedTaskNode.taskNode.node_number === "3") {
                            personInCharge = combinedTaskNode.dqe;
                        } else if (combinedTaskNode.taskNode.node_number === "2") {
                            personInCharge = combinedTaskNode.rd;
                        } else if (combinedTaskNode.taskNode.node_number === "4") {
                            personInCharge = combinedTaskNode.projectLeader;
                        }

                        // 如果负责人匹配用户名，则添加该行，否则跳过
                        if (personInCharge === username) {
                            const row = document.createElement('tr');

                            // 让 sample_id 成为可点击的链接
                            row.innerHTML = `
                        <td>${displayValue(combinedTaskNode.taskNode.id)}</td>
                        <td><a href="/problemMoudle?dd_orientation=landscape&sample_id=${encodeURIComponent(combinedTaskNode.taskNode.sample_id)}&username=${encodeURIComponent(username)}&job=${encodeURIComponent(job)}">${displayValue(combinedTaskNode.taskNode.sample_id)}</a></td>
                        <td>${getNodeDescription(combinedTaskNode.taskNode.node_number)}</td>
                        <td>${displayValue(combinedTaskNode.taskNode.status_value)}</td>
                        <td>${displayValue(combinedTaskNode.taskNode.create_time)}</td>
                        <td>${displayValue(combinedTaskNode.taskNode.warn_time)}</td>
                        <td>${displayValue(combinedTaskNode.fullModel)}</td>
                        <td>${displayValue(combinedTaskNode.bigSpecial)}</td>
                        <td>${displayValue(combinedTaskNode.smallSpecial)}</td>
                        <td>${displayValue(combinedTaskNode.sampleCategory)}</td>
                        <td>${displayValue(combinedTaskNode.version)}</td>
                        <td>${displayValue(combinedTaskNode.questStats)}</td>
                        <td>${displayValue(personInCharge)}</td>
                    `;

                            recentNotificationsProjectList.appendChild(row);
                        }
                    });

                    recentNotificationsModal.style.display = "block";
                })
                .catch(error => console.error("获取近期通知项目列表时出错:", error));
        };

    recentNotificationsClose.onclick = function() {
        recentNotificationsModal.style.display = "none";
    };

    window.onclick = function(event) {
        if (event.target == overdueModal) {
            overdueModal.style.display = "none";
        }
        if (event.target == configModal) {
            configModal.style.display = "none";
        }
        if (event.target == recentNotificationsModal) {
            recentNotificationsModal.style.display = "none";
        }
    };


</script>




</body>
</html>
