<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据看板模块</title>
    <!-- 引入字体图标库 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- 引入外部CSS文件 -->
    <link rel="stylesheet" href="/css/dataBoard.css">

    <script src="https://g.alicdn.com/dingding/dingtalk-jsapi/3.0.25/dingtalk.open.js"></script>


</head>
<body>



<div class="header-container">
    <div class="title">数据看板</div>
    <button class="BackBtn" id="BackBtn" onclick="location.href='/DQEIndex'">返回<br>主页</button>
</div>


<div class="sidebar">
    <ul class="nav-list">
        <li><a href="/dataBoard" class="nav-link active">数据看板</a></li>
<!--        <li><a href="/weeklyNewspaper" class="nav-link">电子DQE周报</a></li>-->
<!--        <li><a href="/scheduleBoard" class="nav-link">扫码分箱</a></li>-->
    </ul>
</div>

<div class="rsa-container">
    <h2>RSA 加密演示</h2>
    <input type="text" id="inputText" placeholder="请输入内容" style="width:300px;" />
    <button onclick="encrypt()">加密</button>
    <p>加密结果：</p>
    <textarea id="result" rows="5" cols="50"></textarea>
</div>

<div class="rsa-container" style="margin-top: 50px;">
    <h2>RSA 解密演示</h2>
    <textarea id="encryptedText" rows="5" cols="50" placeholder="请输入加密文本"></textarea><br>
    <button onclick="decrypt()">解密</button>
    <p>解密结果：</p>
    <input type="text" id="decryptedResult" style="width:300px;" readonly />
</div>


<script>
    function encrypt() {
        const text = document.getElementById('inputText').value;
        fetch('/encrypt', {
            method: 'POST',
            headers: { 'Content-Type': 'text/plain' },
            body: text
        })
            .then(res => res.text())
            .then(data => {
                document.getElementById('result').value = data;
            });
    }

    function decrypt() {
        const encrypted = document.getElementById('encryptedText').value;
        fetch('/decrypt', {
            method: 'POST',
            headers: { 'Content-Type': 'text/plain' },
            body: encrypted
        })
            .then(res => res.text())
            .then(data => {
                document.getElementById('decryptedResult').value = data;
            });
    }

</script>


</body>
</html>
