<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据看板模块</title>
    <!-- 引入字体图标库 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- 引入外部CSS文件 -->
    <link rel="stylesheet" href="/css/dataBoard.css">

    <script src="https://g.alicdn.com/dingding/dingtalk-jsapi/3.0.25/dingtalk.open.js"></script>


</head>
<body>



<div class="header-container">
    <div class="title">数据看板</div>
    <button class="BackBtn" id="BackBtn" onclick="location.href='/DQEIndex'">返回<br>主页</button>
</div>


<div class="sidebar">
    <ul class="nav-list">
        <li><a href="/dataBoard" class="nav-link active">数据看板</a></li>
<!--        <li><a href="/weeklyNewspaper" class="nav-link">电子DQE周报</a></li>-->
<!--        <li><a href="/scheduleBoard" class="nav-link">扫码分箱</a></li>-->
    </ul>
</div>




</body>
</html>
